.product img {
  transition: 0.3s;
  padding: 2rem 2rem 0;
  cursor: pointer;
}

.product img:hover {
  transform: translateY(-1rem);
}

.product h5 {
  transition: 0.3s;
  cursor: pointer;
}

.product h5:hover {
  color: #288ad6;
}
